@model OrderDetailsCartViewModel

@*online odeme icin*@
@using Microsoft.Extensions.Options
@inject IOptions<Lokanta.Utility.StripesSettings> Stripe


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    @if (Model.ShoppingCartsList.Count > 0)
    {
        <div class="whiteBackground">
            <div class="container">
                <div class="card">
                    <div class="card-header bg-dark text-light ml-0 row container">
                        <div class="col-6">
                            <i class="fas fa-shopping-cart"></i>&nbsp; Oreder Summary
                        </div>

                        <div class="col-6 text-right">
                            <a class="btn btn-outline-info btn-sm" asp-action="Index" asp-controller="Carts" asp-area="Customer">
                                Back to Cart
                            </a>
                        </div>
                    </div>

                    <div class="card-body">

                        <div class="container rounded p-2">
                            <div class="row">
                                <div class="col-12 col-lg-6 pb-4">
                                    <div class="row">
                                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="text-info">
                                                Pickup Details :
                                            </span>
                                        </h4>
                                    </div>

                                    <div class="row py-1">
                                        <div class="col-3">
                                            Name :
                                        </div>

                                        <div class="col-9">
                                            <input type="text" id="txtName" class="form-control" asp-for="OrderHeader.PickUpName" />
                                        </div>
                                    </div>


                                    <div class="row py-1">
                                        <div class="col-3">
                                            Phone :
                                        </div>

                                        <div class="col-9">
                                            <input type="text" id="txtPhone" class="form-control" asp-for="OrderHeader.PhoneNumber" />
                                        </div>
                                    </div>


                                    <div class="row py-1">
                                        <div class="col-3">
                                            Date :
                                        </div>

                                        <div class="col-9">
                                            <input type="text" id="datepicker" value="" class="form-control" asp-for="OrderHeader.PickUpDate" />
                                        </div>
                                    </div>

                                    <div class="row py-1">
                                        <div class="col-3">
                                            Time :
                                        </div>

                                        <div class="col-9">
                                            <input type="text" id="timepicker" value="" class="form-control" asp-for="OrderHeader.PickUpTime" />
                                        </div>
                                    </div>

                                    <div class="row py-1">
                                        <div class="col-3">
                                            Comments :
                                        </div>

                                        <div class="col-9">
                                            <textarea class="form-control" asp-for="OrderHeader.Comments" style="height:100px;"></textarea>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-122 col-lg-5 offset-lg-1 pb-4">

                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">
                                            Order Summery :
                                        </span>
                                    </h4>

                                    <ul class="list-group mb-3">
                                        @foreach (var item in Model.ShoppingCartsList)
                                        {
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div>
                                                    <h6 class="my-0">
                                                        @item.MenuItem.Name
                                                    </h6>

                                                    <small class="text-muted">
                                                        Quantity : @item.Count
                                                    </small>
                                                </div>

                                                <span class="text-muted">
                                                    $ @(item.MenuItem.Price*item.Count)
                                                </span>
                                            </li>
                                        }

                                        @if (Model.OrderHeader.CouponCode != null)
                                        {
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div class="text-success">
                                                    <h6 class="my-0">Promo Code</h6>

                                                    <small class="text-muted">
                                                        @Model.OrderHeader.CouponCode
                                                    </small>
                                                </div>

                                                <span class="text-muted">
                                                    -$ @(Model.OrderHeader.OrderTotalOrginal - Model.OrderHeader.OrderTotal)
                                                </span>
                                            </li>
                                        }

                                        <li class="list-group-item d-flex justify-content-between">


                                            <small class="text-info">
                                                Total (USD)
                                            </small>


                                            <span class="text-muted">

                                                $ @Model.OrderHeader.OrderTotal
                                            </span>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="card-footer">
                        <div class="col-12 col-lg-4 offset-lg-8 col-md-6 offset-md-6">

                            @*online odeme icin*@
                            @{ var OrderTotalForStripe = Model.OrderHeader.OrderTotal * 100;} @*bu para icin ve 100 carptik cunku bu kurus kullaniyor T.L degil*@
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" 
                                    data-key="@Stripe.Value.PublishableKey" 
                                    data-amount="@OrderTotalForStripe" 
                                    data-name="Place Order" 
                                    data-description="Good Food , Good Mood" 
                                    data-locale="auto" 
                                    data-allow-remember-me="false"
                                    data-image="https://Stripe.com/img/documentation/checkout/marketplace.png">
                            </script>

                            <script>
                                document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                            </script>
                            
                            <button type="submit" class="btn btn-success form-control" onclick="return validateInput()">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="whiteBackground">
            No items added to shopping cart......
        </div>
    }
</form>
<!-- bunlar icin layout sayfasinda bazi linkler ekledik-->
<!--bu sectıon datepicker icin ve timepicker-->
<!--bu yazilar jquery ui sitesinde hazir olarak aldim ve time picker icin cdjns sitenden-->
@section Scripts{

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.js"></script>

    <script>
        $(function () {
            $("#datepicker").datepicker({minDate:0,maxDate:"+1w"});
            $("#timepicker").timepicker({ 'minTime': '11:00 AM', 'maxTime': '09:00 PM', step: '30' });

        });

        //bu function bir alan bos birakarsa hatali message cikiyor
        function validateInput() {
            var dt = document.getElementById("datepicker").value;
            var time = document.getElementById("timepicker").value;
            var name = document.getElementById("txtName").value;
            var phone = document.getElementById("txtPhone").value;
            
            if (dt.toString().length == 0) {
                alert("Please Selecte pickup date");
                return false;
            }
            else if (time.toString().length == 0) {
                alert("Please Selecte pickup time");
                return false;
            }
            else if (name.toString().length == 0) {
                alert("Please Enter pickup Name");
                return false;
            }
            else if (phone.toString().length == 0) {
                alert("Please Entre phone number");
                return false;
            }

        }
    </script>

}   

